.rovalra-robux-icon {
    display: inline-block;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
    vertical-align: middle;
}
