.rovalra-friend-game-link {
    color: inherit;
    text-decoration: none;
}

.rovalra-friend-game-thumbnail-link {
    display: inline-flex;
    flex-shrink: 0;
}

.rovalra-friend-game-name-link {
    display: block;
    min-width: 0;
    overflow: hidden;

    &:hover {
        text-decoration: underline;
    }
}
