/* This will be used cross the extension in a future update, too lazy to make everything use it now. */

:root:has(.dark-theme),
:root.dark-theme,
:root[color-scheme=dark],
:root:has(meta[name=theme-color][content="#111216"]) {
    --rovalra-main-text-color: #f7f7f8;
    --rovalra-secondary-text-color: #d5d7dd;
    --rovalra-container-background-color: #272930;
    --rovalra-playbutton-color: #335fff;
    --rovalra-main-background-color: #121215;
    --rovalra-button-background-color: rgba(208, 217, 251, .12);
    --rovalra-border-color: rgba(255, 255, 255, 0.2);
    

}

:root:has(.light-theme),
:root.light-theme,
:root[color-scheme=light],
:root:has(meta[name=theme-color][content="#F9F9F9"]) {
    --rovalra-main-text-color: #202227;
    --rovalra-secondary-text-color: #494d5a;
    --rovalra-container-background-color: #f7f7f8;
    --rovalra-playbutton-color: #335fff;
    --rovalra-main-background-color: #fff;
    --rovalra-button-background-color: rgba(27, 37, 75, .12);
    --rovalra-border-color: rgba(0, 0, 0, 0.2);
}